/* FONTE */
/* font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  background-color: #fb6b6b;
}

.tela-inicial {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 82px;
}

.tela-inicial div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tela-inicial img {
  width: 136px;
  height: 161px;
}

/* TELA PERGUNTAS */
.tela-perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.tela-perguntas .topo-tela-perguntas {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 150px;
}

.logo-perguntas {
  width: 52px;
  height: 60px;
}

.pergunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px 15px 0px 15px;
  width: 300px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 25px;

  font-family: "Recursive", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #333333;
}

.pergunta:last-child {
  margin-bottom: 125px;
}

.perguntas {
  margin-bottom: 400px;
}

.resposta-revelada {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 0px 10px;
}

.resposta-revelada.estender-colorir {
  margin-bottom: 25px;

  font-family: "Recursive", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #333333;
}

.resposta-revelada.estender-colorir:last-child {
  margin-bottom: 100px;
  font-size: 14px;
}

.botoes {
  background-color: #ffffd4;
  gap: 10px;
}

.nao-lembrei {
  width: 85.17px;
  height: 37.17px;
  margin-left: 6px;

  background: #ff3030;
  border-radius: 5px;
  border: none;

  font-family: "Recursive";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.nao-lembrei:hover {
  cursor: pointer;
}

.n-lembrei {
  color: #ff3030;
  text-decoration-line: line-through;
}

.resultado-img {
  background-color: #ffffff;
  width: 23px;
  height: 23px;
}

.quase-nao-lembrei {
  width: 85.17px;
  height: 37.17px;

  background: #ff922e;
  border-radius: 5px;
  border: none;

  font-family: "Recursive", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.quase-nao-lembrei:hover {
  cursor: pointer;
}

.quase-n-lembrei {
  color: #ff922e;
  text-decoration-line: line-through;
}

.lembrei {
  width: 85.17px;
  height: 37.17px;

  background: #2fbe34;
  border-radius: 5px;
  border: none;

  font-family: "Recursive", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;
}

.lembrei:hover {
  cursor: pointer;
}

.zap {
  color: #2fbe34;
  text-decoration-line: line-through;
}

.icon-pergunta {
  background: #ffffff;
  font-size: 24px;
}

.icon-pergunta:hover {
  cursor: pointer;
}

.setinha {
  position: absolute;
  background-color: #ffffd4;
  right: 10px;
  bottom: 5px;
  width: 25px;
  height: 20px;
}

.setinha:hover {
  cursor: pointer;
}

.estender-colorir {
  position: relative;
  width: 299px;
  height: 131px;
  background: #ffffd5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.botoes {
  display: flex;
  margin: 0px 0px 6px 0px;
}

.concluido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.concluido p {
  font-family: "Recursive", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  background-color: #ffffff;
}

.msg-final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 115px;
  background-color: #ffffff;
  font-size: 18px;
  gap: 5px;
}

.msg-final b {
  text-align: center;

  font-family: "Recursive", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #333333;
  background-color: #ffffff;
}

.msg-final p {
  font-family: "Recursive", sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
  color: #333333;
}

.msg-final img {
  background-color: #ffffff;
  width: 23px;
  height: 23px;
  margin-right: 6px;
}
